<h2>feeds list</h2>
<table mat-table class="mat-elevation-z8" style="width: 90%;">
  <thead>
  <tr mat-header-row>
    <th mat-header-cell>title</th>
    <th mat-header-cell>url</th>
    <th>results</th>
    <th mat-header-cell>last modified</th>
    <th mat-header-cell>next update</th>
  </tr>
  </thead>
  <tbody>
  <tr mat-row *ngFor="let feed of feeds">
    <td mat-cell><a routerLink="/feed/{{feed.slug}}">{{feed.title}}</a></td>
    <td mat-cell>{{feed.url}}</td>
    <td mat-cell><a routerLink="/results/{{feed.slug}}">view results</a></td>
    <td mat-cell>{{feed.lastModified}}</td>
    <td mat-cell>{{feed.nextUpdate}}</td>
  </tr>
  </tbody>
</table>
<mat-paginator [length]="count" [pageSize]="pageSize" (page)="paginate($event)"></mat-paginator>
