<h3>{{count}} items in database</h3>

<div class="grid-container">
  <div id="search">
    <form (submit)="search()">
      <select [(ngModel)]="language" name="lang">
        <option value="en">English</option>
        <option value="fr">French</option>
      </select>
      <input id="search-token" [(ngModel)]="searchToken" placeholder="search" name="token">
      <input id="run" type="button" (click)="search()" value="search">
    </form>
  </div>
  <mat-grid-list cols="2">
    <mat-grid-tile colspan="1">
      <div *ngFor="let item of items" style="width: 95%;">
        <h5 (click)="displayItem(item)">
          {{item.title}}
        </h5>
        <h6>
          {{item.feed.title}} {{item.lastModified}}
        </h6>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <p [innerHTML]="content"></p>
    </mat-grid-tile>
  </mat-grid-list>
</div>
